# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.nav
*.snm
*.vrb
missfont.log

# Font cache
*.600gf
*.tfm

# OS files
.DS_Store

# Third-party textbook materials (copyrighted, kept locally only)
Optics_of_Aperiodic_Structures_*.pdf
aperiodic structures/
